body,
html {
  height: 100%;
  background-repeat: no-repeat; /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
  background: rgb(75, 75, 75);
  position: relative;
  font-family: "Chakra Petch", sans-serif;
  color: white;
}
#login-box {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 450px;
  margin: 0 auto;
  border: 1px solid black;
  background: rgba(29, 29, 29, 0.384);
  min-height: 350px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 9999;
  border-radius: 20px;
}

#login-box .input {
  display: flex;
  margin-bottom: 20px;
}
#login-box .input input {
  margin-right: 5px;
  background-color: transparent;
  color: white;
  font-weight: 700;
  border: 1.3px solid white;
}

.panel {
  background-color: transparent;
}
#prx {
  width: 46%;
}

a {
  background-color: white;
  position: absolute;
  right: 60px;
  bottom: 60px;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  z-index: 999;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index: 1;
}
