* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(248, 248, 248);
  width: 100%;
  box-sizing: border-box;
  padding-top: 4%;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  float: left;
  padding: 50px;
  overflow: hidden;

  background-color: rgb(78, 78, 78);
}
.text p {
  width: 51%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 17px;
}
input {
  float: left;
}
.calculator1 {
  width: 95%;
  height: auto;
  overflow: contain;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
  border-left: 1px solid rgb(223, 223, 223);
}

#inpip {
}
.panel {
  width: 100%;
  height: 90%;

  border-radius: 10px;
}
#ip {
  color: white;
}

#prx {
  margin: 0px;
  width: 100px;
}

#prefix {
  color: white;
}

.output {
  color: rgb(0, 0, 0);
}
